/* ProductCard.css */

*{
  background-color: rgb(134, 114, 153);
}

.product-card {
  width: 250px;
background-color: rgb(195, 195, 111);
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card__image {
 
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card__details {
  margin-top: 16px;
  background-color: rgb(195, 195, 111);
}

.product-card__name {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(195, 195, 111);
}

.product-card__price {
  font-size: 16px;
  color: #333;
  margin-top: 8px;
  background-color: rgb(195, 195, 111);
}

.view-product-button {
  margin-top: 12px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-product-button:hover {
  background-color: #0056b3;
}
